<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #3498db;
        /* رنگ پس زمینه بک‌گراند */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .rounded-box {
        width: 800px;
        /* عرض مستطیل */
        height: 500px;
        /* ارتفاع مستطیل */
        background-color: #ecf0f1;
        /* رنگ مربع */
        border-radius: 20px;
        /* گوشه‌های گرد */
        overflow: hidden;
        /* تراز به داخل */
        color: #2c3e50;
        /* رنگ متن */
        position: relative; /* اضافه شده */
    }

    .rounded-box iframe {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 20px;
        /* گوشه‌های گرد فرم */
        position: absolute; /* اضافه شده */
        bottom: 0; /* اضافه شده */
        pointer-events: none; /* اضافه شده */
    }

    /* اضافه شده: کلاس overlay بر رو
